In [1]:
import pandas as pd
import json

## CONVERT US CATEOGRY IDS

In [2]:
id_to_category_us = {}

with open('Data/US_category_id.json', 'r') as f:
    df = json.load(f)
    for category in df['items']:
        id_to_category_us[category['id']] = category['snippet']['title']

In [3]:
us_categories = pd.DataFrame(id_to_category_us, index=[0]).T.reset_index()
us_categories.columns = ['category_id', 'category']
us_categories.to_csv('Data/US_category_id.csv', index=False)

In [4]:
us_categories.head()

  category_id          category
0           1  Film & Animation
1           2  Autos & Vehicles
2          10             Music
3          15    Pets & Animals
4          17            Sports

## CONVERT CA CATEOGRY IDS

In [5]:
id_to_category_ca = {}

with open('Data/CA_category_id.json', 'r') as f:
    df = json.load(f)
    for category in df['items']:
        id_to_category_ca[category['id']] = category['snippet']['title']

In [7]:
ca_categories = pd.DataFrame(id_to_category_ca, index=[0]).T.reset_index()
ca_categories.columns = ['category_id', 'category']
ca_categories.to_csv('Data/CA_category_id.csv', index=False)

In [8]:
ca_categories.head()

  category_id          category
0           1  Film & Animation
1           2  Autos & Vehicles
2          10             Music
3          15    Pets & Animals
4          17            Sports